#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#btn-delete {
  background-color: red;
  margin-right: 5px;
}

#btn-cancel {
  background-color: rgb(62, 62, 62);
  margin-left: 5px;
}

#btn-select {
  position: absolute;
  right: 30px;
  left: auto;
  background-color: rgb(62, 62, 62);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.calenderTitle {
  display: flex;
  flex-flow: row;
  width: 100%;
  justify-content: space-between;
}

.calenderWeek {
  display: flex;
  flex-wrap: wrap;
}

.cardInfo {
  text-align: left;
}

.cardSection {

}

.changeMonthSpan {
  align-self: center;
  padding: 3px;
}

.dateTile {
  width: 80px;
  height: 80px;
  border: 1px solid white;
  padding: 2px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(13.7% - 1px);
}

.eventCard {
  border: 1px solid white;
  background-color: rgb(113, 113, 113);
  border-radius: 10px;
  min-height: 110px;
  margin: 3px auto 3px auto;
  width: 60%;
}

.eventCard-check {
  align-self: center;
  position: absolute;
  left: 23%;
  height: 20px;
  width: 20px;
}

.eventCard-title {
  font-size: large;
  display: block;
  margin-bottom: 5px;
}

.ew-label {
  font-size: larger;
  padding: 5px;
  display: flex;
}

.ew-label-text {
  width: 200px;
  text-align: left;
}

.ew-input-check {
  margin-right: 4px;
  margin-left: 10px;
  margin-top: 5px;
  height: 20px;
  width: 20px;
}

.ew-input-text {
  width: 300px;
}

.footer-buttons {
  margin: 10px auto;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

.menu-item {
  margin: 2px 5px;
  border-bottom: 1px solid lightgray;
}

.pastDate {
  color: #888;
}

.summaryTitle {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: 1000px;
}

.summaryTitle span {
  font-size: x-large;
  justify-self: center;
  margin: 10px auto;
}

.textTile {
  padding: 3px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: calc(13.7% - 1px);
  text-align: center;
}
